.css-input-container {
  background-color: #4fb885;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 75px;
  padding: 10px;

}

.css-input-search-container {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.css-input-search-container input {
  padding: 3px;
  width: 400px;
}

.css-input-search-container button {
  right: 0;
}

.css-input-search-container p {
  margin-top: auto;
  bottom: 0;
}

@media screen and (max-width: 1800px) {
  .css-input-search-container {
    max-width: 1800px;
  }
}

aside button {
  background-color: #347857;
  border: 1px solid black;
  color: black;
  font-size: 16px;
  font-weight: 900;
  padding: 5px;
  width: 100%;
}

.css-input-search-container button {
  background-color: #347857;
  border: 1px solid rgb(89, 89, 89);
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 700;
  margin-left: 5px;
  padding: 4px;
  width: 60px;
}

.css-categories button {
  text-align: left;
  width: 200px;
}

aside button:hover {
  background-color: #183829;
  color: white;
}

.css-input-search button:hover {
  background-color: #183829;
  color: white;
}

.css-input-search p {
  text-align: center;
}

.css-shoppingcart {
  color: #347857;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 10px;
  padding: 5px;
  text-decoration: none;
  white-space: nowrap;

}

.css-shoppingcart:hover {
  color: white;
  border: black 0px solid;
  background-color: #183829;
  border-radius: 5px;

}

.principal {
  display: flex;
}

aside {
  background-color: #4fb885;
  padding: 10px;
  width: 220px;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.css-product-card {
  align-items: center;
  border: 1.5px solid black;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 250px;
  gap: 7px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.css-product-card:hover {
  transform: scale(1.07);
}

.css-product-card img {
  width: 125px;
}

.css-categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

.css-categories li {
  border-radius: 5px;
  margin-bottom: 1.5px;
}

.css-product-title {
  font-weight:bolder;
}

.css-product-price {
  font-weight:bolder;
}

.css-product-addToCart {
  font-weight: bold;
  padding: 3px;
}

.css-home-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-home-title {
  font-weight:bolder;
  text-decoration: none;
  color: black;

  /* background-color: #183829; */
  /* background-color: #347857; */
  /* background-color: #4fb885; */
}

.css-underline-input-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-checkout-link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  border: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 85px;
  background-color: #347857;
}

.css-checkout-link:hover {
  background-color: #183829;
  color: white;
}